form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

form * {
    margin-bottom: 10px;
}

form button {
  background-color: #24b429;
  border: 1px solid hsl(122, 37%, 51%);
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: filter 0.2s;
  margin-bottom: 0;
}

form button:hover {
  filter: brightness(90%);
}
